/* CSS PARA ELEMENTOS PADRONIZADOS DO PROJETO - Mesmo h1 pra todas paginas por exemplo*/

/* ==== VARIAVEIS DE CORES ==== */

:root {
  /* 
    == Exemplo de como declarar e usar essas variaveis == 
  --nome-cor: #ccc;  --> declarando o nome da variavel e sua cor
  background-color: var(--nome-cor);  --> usando a variavel no background (pode usar em qualquer lugar que pede cor)
  */
}

/* ==== BOOTSTRAP ==== */
.container {
  max-width: 90% !important;
}

/*Titulos*/
.h1 {
  font-size: 36px !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
}

.h2 {
  font-size: 30px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.h3 {
  font-size: 26px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.h4 {
  font-size: 22px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.paragraph {
  font-size: 18px;
}

.w-32 {
  max-width: 320px;
}

/*Botoes*/
.btn {
  font-weight: 400;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #545454;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 10px;
}

/* ==== CRIADAS ==== */

.margem-t50 {
  /*Margem top curta*/
  margin-top: 50px;
}
.margem-t100 {
  /*Margem top media*/
  margin-top: 100px;
}
.margem-t150 {
  /*Margem top alta*/
  margin-top: 150px;
}

.shadow-clear {
  /* Sombra mais leve*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.shadow-medium {
  /* Sombra media*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.shadow-dark {
  /* Sombra mais escura*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
