:root {
  --pink-cleide: #ef476f;
  --yellow-cleide: #ffd166;
  --green-cleide: #06d6a0;
  --blue-light-cleide: #118ab2;
  --blue-dark-cleide: #083b4b;
  --black-cleide: #2f2f2f;
  --gray-light-cleide: #f8f8f8;
  --gray-dark-cleide: #bbbbbb;
}
