/* ===== Chamando variaveis do bootstrap ===== */
@import url(bootstrap.min.css);

/* ===== Variaveis da paleta de cores ===== */
@import url(colors.css);

/* ===== Componentes ===== */
@import url(components/buttons.css);
@import url(components/card_product.css);
@import url(components/texts.css);
@import url(components/inputs.css);

/* ============================== Codigos soltos ============================== */

body {
  font-family: "Poppins", sans-serif !important;
}

/* ===== LINKS =====*/

.link-reset {
  text-decoration: none;
  color: var(--black-cleide);
}
.link-reset:hover {
  color: var(--blue-light-cleide);
}

/* ===== CARROSEIS =====*/
.thumbnail:not(:last-of-type) {
  margin-bottom: 20px;
}

.thumbnail-image {
  max-width: 134px;
}

.thumbnail-full {
  max-width: 520px;
}

/* Altura maxima dos items*/

/* ===== ICONES =====*/
.icon {
  max-height: 25px;
}

/* ===== ALEATORIOS =====*/

.shadow-clear {
  box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
}

.ad {
  height: 80px !important;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: contain;
}

.ad-figma {
  background-image: url("../images/adverts/ad_figma.png");
}
.ad-magalu {
  background-image: url("../images/adverts/ad_magalu.png");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* ========== DEIXAR ALGUNS PARANAUE RESPONSIVO ==========*/
@media (max-width: 576px) {
  .ad {
    height: 70px !important;
  }
  .ad-figma {
    background-image: url("../images/adverts/ad_figma_mb.png");
  }
  .ad-magalu {
    background-image: url("../images/adverts/ad_magalu_mb.png");
  }
}

#csgo {
position: relative;

}

#csgoo {
position: relative;

}