/* ===== Chamando variaveis do bootstrap ===== */
@import url(bootstrap.min.css);

/* ===== Variaveis da paleta de cores ===== */
@import url(colors.css);

/* ===== Componentes ===== */
@import url(components/buttons.css);
@import url(components/card_product.css);

/* ============================== Codigos soltos ============================== */

body {
  font-family: "Poppins", sans-serif !important;
}

/* ===== PARAGRAFOS =====*/

/* Tamanho pequeno para paragrafos*/
.prg-0 {
  color: var(--black-cleide);
  font-size: 1rem;
}

/* Tamanho padrao para paragrafos*/
.prg-1 {
  color: var(--black-cleide);
  font-size: 1.15rem;
}

/* Tamanho grande para paragrafos*/
.prg-2 {
  color: var(--black-cleide);
  font-size: 1.3rem;
}
